<div class="card">
  <div class="card-header">
    DISBURSEMENT
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="form-group">
          <select class="form-control" id="accountType">
            <option>DISBURSEMENT</option>
            <option>TRANSFER</option>
            <option>DEPOSIT</option>
          </select>
        </div>
        <button type="button" class="btn btn-outline-secondary ml-auto mr-2"> CANCEL </button>
      </div>
      <div class="row form-inline">
        <div class="form-group">
          <label for="amount" class="mr-3">Enter Amount: </label>
          <input type="text" class="form-control mr-5" id="amount">
        </div>
        <button type="submit" class="btn btn-outline-primary">CREATE DISBURSEMENT </button>
      </div>
    </form>
  </div>
</div>
