<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <!-- Logo -->
        <div class="card-header pt-4 pb-4 text-center bg-dark">
          <a routerLink="/">
<!--            <span><img src="assets/images/logo.png" alt="" height="18"></span>-->
            <h1 class="text-white">CIC CLIENT</h1>
          </a>
        </div>

        <div class="card-body p-4">

          <div class="text-center w-75 m-auto">
            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Reset Password</h4>
          </div>

          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <label for="emailaddress">Email address</label>
              <input class="form-control" type="email" id="emailaddress" required placeholder="Enter your email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && form.email.errors }">
              <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                <div *ngIf="form.email.errors.required">Email is required</div>
              </div>
            </div>

            <div class="form-group mb-0 text-center">
              <button class="btn btn-primary" type="submit" [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Reset Password
              </button>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
          </form>
        </div> <!-- end card-body-->
      </div>
      <!-- end card -->

      <div class="row mt-3">
        <div class="col-12 text-center">
          <p class="text-muted">Back to <a routerLink="/auth" class="text-muted ml-1"><b>Log In</b></a></p>
        </div> <!-- end col -->
      </div>
      <!-- end row -->

    </div> <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
<app-footer></app-footer>
